/* Color Mode transition */
html::view-transition-old(root),
html::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

html::view-transition-old(root) {
  z-index: 2147483646;
}

html::view-transition-new(root) {
  z-index: 1;
}

html[data-theme="dark"]::view-transition-old(root) {
  z-index: 1;
}

html[data-theme="dark"]::view-transition-new(root) {
  z-index: 2147483646;
}



